body{
  margin: auto;
  width: 70%;
  padding: 10px;
  background-color: seagreen;

}

#gameContainer{
    position: static;
    display: block;
    align-items: center;
}

.line{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: static;
}
.cards{
    width: 190px;
    height: 270px;
    border: 4px solid black;
    border-radius: 15px;
    background-image: url("cardd.png");
    background-repeat: no-repeat;
    background-position:initial;
    background-size: cover;
    position: static;
    /* transition: 1s;
    animation-delay: 1ms;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

/* .cards:hover{
    background-color: black;
    transform: rotateY(180deg);
    background-image: url('khazar.png');
    background-size: contain
    ;
} */